/* Bar */
.progress {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  display: flex;
  height: 70px;
  border: 10px #ffffff solid;
  border-radius: 999px;
  font-size: 28px;
  font-family: 'Open Sans';
  font-weight: 600;
  overflow: hidden;
  margin: 0 40px 40px 40px;
}

.back,
.front {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.back p,
.front p {
  margin: 0;
}

.back {
  width: 100%;
  background: white;
  color: #2e2f5e;
}

.front {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #4c40cf;
  color: white;
  clip-path: inset(0 50% 0 0 round 999px);
  -webkit-clip-path: inset(0 50% 0 0 round 999px);
  transition: clip-path 1s linear;
}

/* Alert */

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade.show {
  opacity: 1;
}

.widget-alert-box {
  text-align: center;
}