DBURL=localhost
DBPORT=3306
DBNAME=twitch
DBUSER=root
DBPASSWORD=
DBPREFIX=sandbox_
LOGLEVEL=DEBUG

BLOB_URL=
BLOB_CONNECTION_STRING=

HA_URL="https://www.helloasso-sandbox.com"
HA_AUTH_URL="https://auth.helloasso-sandbox.com"
API_AUTH_URL=https://api.helloasso-sandbox.com/oauth2/token
API_URL=https://api.helloasso-sandbox.com/v5
CLIENT_ID=
CLIENT_SECRET=

ENCRYPTION_KEY=
WEBSITE_DOMAIN=http://localhost:3000
MANDRILL_API=