# Turn on rewrite engine
RewriteEngine On

# Block access to the .env file
RewriteCond %{REQUEST_URI} ^/.env
RewriteRule ^ - [F]

# Block access to specific code directories
RewriteCond %{REQUEST_URI} ^/(app|migration|vendor)/
RewriteRule ^ - [F]

# Disable directory listings
Options -Indexes