<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de mot de passe</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2>Réinitialisation de mot de passe</h2>
        <form action="/reset_password" method="POST">
            <input type="hidden" name="token" value="{{ token }}" /> 
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="passwordRepeat">Confirmation de mot de passe</label>
                <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Définir mon mot de passe 🔑</button>
        </form>
    </div>
</body>

{% if messages['password_reset_error'] %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Echec</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Erreur lors de la réinitilisation
            </div>
        </div>
    </div>
{% endif %}

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const toastLiveExample = document.getElementById('liveToast')
    if(toastLiveExample) {
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastBootstrap.show()
    }
</script>

</html>