
{% block title %}Mot de passe oublié{% endblock %}

{% extends "layout.html.twig" %}
{% block content %}
	<div class="container">
		<h1 class="my-4 text-center">Mot de passe oublié</h1>
		<form action="/forgot_password" method="POST">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" id="email" name="email" required>
			</div>
			<button type="submit" class="btn btn-primary mt-3">Valider ✉️</button>
		</form>
	</div>
{% endblock %}