<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">

	<head>
		<meta charset="UTF-8">
		<title>Mot de passe oublié</title>
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	</head>

	<body>
		<div class="container">
			<h1 class="my-4 text-center">Mot de passe oublié</h1>
			<form action="/forgot_password" method="POST">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" class="form-control" id="email" name="email" required>
				</div>
				<button type="submit" class="btn btn-primary mt-3">Valider ✉️</button>
			</form>
		</div>
	</body>

</html>
